// $bg-primary: #29524a;
// $bg-secondary: #e9bcb7;
// $bg-gradient: linear-gradient(360deg, #e9bcb7 0%, #29524a 74%);

$bg-primary: #485461;
$bg-secondary: #28313b;
$bg-gradient: linear-gradient(315deg, #485461 0%, #28313b 74%);

$minWidth: 320;
$mw: 1300;
$md1: 1024px;
$md2: 900px;
$md3: 750px;
$md4: 650px;