.content {
  background-color: var(--theme-default-button);
  padding: 20px;
  height: 100%;
  overflow-y: scroll;
}

.inner {
  border-radius: var(--border-radius-m);
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 40px repeat(9, 1fr);
  height: 100%;
  column-gap: 10px;
  row-gap: 20px;

  /*! padding-bottom: 14rem; */
}

.inner button {
  grid-row: 1/2;
  border-radius: var(--border-radius-s);
  border: none;

  background-color: var(--color-pink);
  color: var(--color-white);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  line-height: 30px;
}

.inner .back {
  grid-column: 1/2;
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--theme-default-search);
}

.inner .current {
  grid-column: 2/4;
}

@media screen and (max-width: 375px) {
  .inner .current {
    grid-column: 2/7;
  }
}
