.search {
  grid-row: 1/2;
  grid-column: 1/8;
  border-radius: var(--border-radius-m);
  background-color: var(--theme-default-post);

  display: flex;
  position: relative;
}

.search input {
  padding: 15px 10px 15px 20px;
  background: transparent;
  border: none;
  border-radius: var(--border-radius-m);
  color: var(--theme-default-text);
  font-size: var(--font-m);
  line-height: 30px;
  width: 100%;
}

.search div {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);

  width: 40px;
  height: 40px;
  border-radius: var(--border-radius-s);

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--theme-default-search);
}

@media screen and (max-width: 768px) {
  .search {
    grid-column: 2/8;
  }
}

@media screen and (max-width: 375px) {
  .search {
    grid-row: 2/3;
    grid-column: 1/11;
  }
}