:root {
  /* --bg-color-primary: #0e0e0e; */
  
  --color-white: #fff;
  --color-black: #000;

  --margin-m: 20px;

  --border-radius-s: 3px;

  /* THEME */
  --bg-dark: #0e0e0e;
  --bg-light: #fff;
  --bg-neutral: #cecece;

  --theme-dark:    gold;
  --theme-light:   #0e0e0e;
  --theme-neutral: #f00;
  --theme-default: gold;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  background-color: var(--bg-dark);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

