* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  letter-spacing: 0;
  list-style: none;
  outline: none;
  border: 0;
}

:root {
  --color-bg: #054A91;
  --color-bg-variant: #3E7CB1;
  --color-primary: #81A4CD;
  --color-secondary: #DBE4EE;
  --color-white: #fff;
  --color-grey: #e3e3e3;
  --color-accent: #F17300;

  --transition: all 40ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: Montserrat, sans-serif;
  background-color: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
}

/* ===== ===== general styles ===== ===== */

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
}

section > h2, section h5 {
  text-align: center;
  color: var(--color-grey);
}

section > h2 {
  color: var(--color-primary);
}

.text-light {
  color: var(--color-grey);
  margin-bottom: 3rem;
}

a {
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover {
  color: var(--color-white);
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: .75rem 1.2rem;
  border-radius: .4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-bg);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* ===== ===== media queries (medium) ===== ===== */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  section {
    margin-top: 6rem;
  }
}

/* ===== ===== media queries (small) ===== ===== */
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  section > h2 {
    margin-bottom: 2 rem;
  }
}

  
/* ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== */


/* :root {
  --color-bg: #041014;
  --color-bg-variant: #071e26;
  --color-primary: #2596be;
  --color-secondary: #145369;
  --color-white: #fff;
  --color-grey: #e3e3e3;
} */

/* :root {
  --color-bg: #454545;
  --color-bg-variant: #6D5959;
  --color-primary: #9DCBBA;
  --color-secondary: #ABEBD2;
  --color-white: #fff;
  --color-grey: #e3e3e3;
} */

/* :root {
  --color-bg: #2F2D2E;
  --color-bg-variant: #41292C;
  --color-primary: #792359;
  --color-secondary: #D72483;
  --color-white: #fff;
  --color-grey: #e3e3e3;
  --color-accent: #FD3E81;
} */

/* :root {
  --color-bg: #463F3A;
  --color-bg-variant: #8A817C;
  --color-primary: #BCB8B1;
  --color-secondary: #F4F3EE;
  --color-white: #fff;
  --color-grey: #e3e3e3;
  --color-accent: #E0AFA0;
} */